

.Nav-items
{
    color: rgb(44,45,90,.7);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    display: grid;
}

.Nav-items img

{
     width: 50px;
    height: 50px;
    border-radius: 50%;
}


.Nav-items-wrap a:active,
.Nav-items-wrap a.active {
  background: none;

        border-radius: 3em;
        background-position: 0 0;
        background-size: 100%;
        -webkit-transition: background 900ms ease-in-out;
        transition: background 900ms ease-in-out;
        background-position: 0 0;
        background-size: 100%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
}

.Nav-items-wrap a:hover
{
    border-radius: 3em;
    color: white;
    background-color: #6fcdd2;
}



.Nav-items-wrap
{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    gap:15px;
}




.wrapper {
    height: auto;
    position: relative;
    top: 5px;
  }
  
  .circ1 {
    z-index: 2;
    position: absolute;
    height: 1vmin;
    width: 1vmin;
    border-radius: 100%;
    border: solid 4.5vmin rgb(44,45,90,.7);
    opacity: .005;
    animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }
  
  .circ2 {
    z-index: 1;
    margin-left: 10vmin;
    height:2vmin;
    width:2vmin;
    border-radius:100%;
    background:#6fcdd2;
    -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
              animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  }
  
  
  
  p.detail {
    position: relative;
    bottom: 4vmin;
    text-align: center;
    letter-spacing: 1vmin;
    font-size: 4vmin;
    font-family: 'Nunito', sans-serif;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
              animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  
  /* keyframes */
  
  @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  
  
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  
  .header {
      height: 100px;
      display: flex;
      width: 100%;
      background: #e2e2e2;
      border-bottom: 1px solid white;
      position: fixed;
      z-index: 100;
  }
  
  footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: #d0caca;
      font-size: 0.9em;
      height: 25px;
      text-align: center;
      font-weight: bold;
      z-index: 1000;
  
  }
  
  .Logo
  {
    position: absolute;
    right: 0;
    top: 10px;
  }
  
  .Name
  {
      
          position: absolute;
          right: 10px;
          top: 50px;
          font-size: 1rem;
          font-weight: bolder;
          color: black;
      
  }
  
  
  
  .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 30vh;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }
  
  
    