.Error-PopUp
{
    position: absolute;
    right: 50px;
    bottom: 3vw;
    border: 2px solid red;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: -6px 5px 16px 0px rgb(44 45 90 / 70%);
    font-weight: bold;
}

.Error-PopUp >span
{
    padding-left: 20px;
    font-size: 20px;
    color: red;
}